.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
#main-sidebar {
    background: #d6e4e2;
    overflow-x:hidden;
}
#logo {
    font-size:1.4rem;
    margin-top:10px;
}
#logo i {
    vertical-align: bottom;
}
@media (min-width: 576px) {
    #main-sidebar {
        flex: 0 1 auto;
        max-width: 200px;
        height: 100vh;
    }
    #main-content {
        flex: 1 1 auto;
        max-width: none;
        width:auto;
        max-width: calc(100% - 200px);
    }
}